{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["test"]}}
  :run  {:main-opts ["-m" "data-is-code.core"]}}}
